html {
    display: block;    
   
}

body {
    display:block;
    flex-wrap:wrap;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align:justify;
}

header {
    display:block;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100px;
    background-color: purple;

}

h1 {
    display: block;
    text-align: center;
    flex-wrap: wrap;
    color: white;
    line-height: 100px;
    margin: 0;
}


nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content:stretch;
    border: 5px solid gold;
    padding:10px;
    margin: 10px;
    list-style-type: none;
 }

 div {
    border: 5px outset red;
    background-color: lightblue;    
    text-align: center;
 }
 
section {
    display: block;


}

article {
    display:block;
    padding: 10px;
    margin: 10px;
    background: rgb(77, 236, 236);

}

h2 {
    display: block;
    font-size: 1.5em;
}


p {
    display: block;
    
}


footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin: 5px;
    padding: 5px;
}

figure {
    display: block;
    flex-direction:column;
    flex-wrap: nowrap;
    justify-content: space-around;
}

#img {
    display: block;
   justify-content: center;
   width:100%;
   height:fit-content;
    padding: 10px;
    margin: 5px;
   
}


@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

a:link {color:#ff0000;text-decoration:none;}
a:visited {color:#0000ff;text-decoration:none;}
a:hover {text-decoration:underline;}