html {
    display: block;    
   
}

header {
    display:block;
    flex-direction: column;
    height: 100px;
    background-color: purple;

}

body {
    display:block;
    flex-wrap:wrap;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align:justify;
}


h1 {
  display: block;
    text-align: center;
    flex-wrap: wrap;
    color: white;
    line-height: 100px;
    margin: 0;
}


nav {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   align-content: center;
   border: 5px solid gold;
   padding:10px;
   margin: 10px;
   list-style-type: none;

}

section {
    display: block;


}

article {
    display:block;
    padding: 10px;
    margin: 10px;
    background: aqua;

}

h2 {
    display: block;
    font-size: 1.5em;
}


p {
    display: block;
    
}


footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin: 5px;
    padding: 5px;
}

figure {
    display: block;
    flex-direction:column;
    flex-wrap: nowrap;
    justify-content: space-around;
}

#img {
    display: block;
   justify-content: center;
   width:100%;
   height:fit-content;
    padding: 10px;
    margin: 5px;
   
}


@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}