* {
    box-sizing: border-box;
  }
  
  header {
      display:block;
      flex-direction: column;
      height: 100px;
      background-color: purple;
  }

  nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content:stretch;
    border: 5px solid gold;
    padding:10px;
    margin: 10px;
    list-style-type: none;
 }

  h1 {
      display: block;
      text-align: center;
      flex-wrap: wrap;
      color: white;
      line-height: 100px;
      margin: 0;
  }
  
  figure {
      display: block;
      flex-direction:column;
      flex-wrap: nowrap;
      justify-content: space-around;
  }
  
  div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

